<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.kanban.app.task.mapper.TaskMapper">
    
    <resultMap id="taskResponseMap" type="TaskResponse">
        <constructor>
            <idArg column="id" javaType="Long"/>
            <arg column="title" javaType="String"/>
            <arg column="category_name" javaType="String"/>
            <arg column="content" javaType="String"/>
            <arg column="status" javaType="TaskStatus"/>
            <arg column="priority" javaType="TaskPriority"/>
            <arg column="due_date" javaType="java.time.LocalDate"/>
            <arg column="assignee_id" javaType="Long"/>
            <arg column="created_by" javaType="Long"/>
        </constructor>
    </resultMap>

    <resultMap id="taskDetailResponseMap" type="TaskDetailResponse">
        <constructor>
            <idArg column="id" javaType="Long"/>
            <arg column="title" javaType="String"/>
            <arg column="content" javaType="String"/>
            <arg column="status" javaType="TaskStatus"/>
            <arg column="priority" javaType="TaskPriority"/>
            <arg column="assignee_name" javaType="String"/>
            <arg column="due_date" javaType="java.time.LocalDate"/>
            <arg column="category_name" javaType="String"/>
        </constructor>
    </resultMap>

    <insert id="insert" parameterType="Task">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT task_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TASK(id, title, content, status, priority, category_id, due_date, workspace_id, assignee_id, created_by, created_at)
        VALUES(#{id}, #{title}, #{content}, #{status}, #{priority}, #{categoryId}, #{dueDate}, #{workspaceId}, #{assigneeId}, #{createdBy}, SYSDATE)
    </insert>

    <select id="findTasksByWorkspaceId" parameterType="Long" resultMap="taskResponseMap">
        SELECT t.id, t.title, c.name AS category_name, t.content, t.status, t.priority, t.due_date, t.assignee_id, t.created_by
        FROM TASK t
        LEFT JOIN CATEGORY c ON t.category_id = c.id
        WHERE t.workspace_id = #{workspaceId}
    </select>

    <select id="findTaskDetailById" parameterType="Long" resultMap="taskDetailResponseMap">
        SELECT t.id, t.title, t.content, t.status, t.priority, u.name AS assignee_name, t.due_date, c.name AS category_name
        FROM TASK t
        LEFT JOIN USERS u ON t.assignee_id = u.id
        LEFT JOIN CATEGORY c ON t.category_id = c.id
        WHERE t.id = #{taskId}
    </select>

    <select id="findById" parameterType="Long" resultType="Task">
        SELECT * FROM TASK WHERE id = #{taskId}
    </select>

    <select id="existById" parameterType="Long" resultType="boolean">
        SELECT COUNT(*) FROM TASK WHERE id = #{taskId}
    </select>

    <update id="update">
        UPDATE TASK SET
            title = #{request.title},
            content = #{request.content},
            status = #{request.status},
            priority = #{request.priority},
            assignee_id = #{request.assigneeId},
            due_date = #{request.dueDate},
            category_id = #{request.categoryId}
        WHERE id = #{taskId}
    </update>

    <update id="updateStatus">
        UPDATE TASK SET status = #{status} WHERE id = #{taskId}
    </update>

    <update id="updateAssignee">
        UPDATE TASK SET assignee_id = #{assigneeId} WHERE id = #{taskId}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TASK WHERE id = #{taskId}
    </delete>

</mapper>