<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.kanban.app.user.mapper.UserMapper">
    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT id, email, password, name, created_at
        FROM USERS
        WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="User">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT user_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO USERS (id, email, password, name, created_at)
        VALUES (#{id}, #{email}, #{password}, #{name}, SYSDATE)
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM USERS WHERE ID = #{userId}
    </delete>
</mapper>
